USE [agriuatbackup6May2025]
GO
/****** Object:  StoredProcedure [dbo].[Update_CartItems_Qty_Rate_Into_Amount]    Script Date: 5/15/2025 1:18:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_CartItems_Qty_Rate_Into_Amount]
    @CompanyCode BIGINT,
    @CartItemId BIGINT,
    @CartId BIGINT,
    @Quantity INT,
    @Rate FLOAT,
    @UserCode NVARCHAR(50),
    @TotalPrice FLOAT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @RoleId INT;
        DECLARE @CustomerCode NVARCHAR(50);
        DECLARE @SalesOrganisation NVARCHAR(50);
        DECLARE @DistChannel NVARCHAR(50);
        DECLARE @Division NVARCHAR(50);
        DECLARE @OldQtyRateAmount FLOAT = 0;
        DECLARE @NewQtyRateAmount FLOAT = 0;
        DECLARE @RefundAmount FLOAT = 0;

        -- Get user role
        SELECT @RoleId = RoleId 
        FROM Users 
        WHERE UserCode = @UserCode;

        -- For Customer
        IF @RoleId = 1
        BEGIN
            -- Update TB_Cart_Items only
            UPDATE [dbo].[TB_Cart_Items]
            SET
                Quantity = @Quantity,
                QtyUpdateBy = @UserCode,
                UpdatedAt = GETDATE(),
                Qty_Into_Rate_Amt = @Quantity * @Rate
            WHERE 
                CompanyCode = @CompanyCode AND 
                CartItemId = @CartItemId AND 
                CartId = @CartId;

            -- Return updated total price (optional, for front-end)
            SELECT @TotalPrice = CAST(SUM(Qty_Into_Rate_Amt) AS FLOAT)
            FROM [dbo].[TB_Cart_Items]
            WHERE 
                CompanyCode = @CompanyCode AND 
                CartId = @CartId;
        END
        ELSE
        BEGIN
            -- For TM or higher, update only TB_Create_Dealer_Order and apply refund logic

            -- Get old order total from order table
            SELECT @OldQtyRateAmount = ISNULL(Total_Price, 0)
            FROM [dbo].[TB_Create_Dealer_Order]
            WHERE CompanyCode = @CompanyCode AND CartId = @CartId;

            -- Calculate new amount
            SET @NewQtyRateAmount = @Quantity * @Rate;

            -- If refund is applicable
            IF @OldQtyRateAmount > @NewQtyRateAmount
            BEGIN
                SET @RefundAmount = @OldQtyRateAmount - @NewQtyRateAmount;

                -- Get customer and sales structure
                SELECT 
                    @CustomerCode = CustomerCode,
                    @SalesOrganisation = SalesOrganisation
                   
                FROM [dbo].[TB_Create_Dealer_Order]
                WHERE CompanyCode = @CompanyCode AND CartId = @CartId;

                -- Update credit limit
                IF @CustomerCode IS NOT NULL
                BEGIN
                    UPDATE [dbo].[TB_CreditLimitOfDealer]
                    SET 
                        AvailableCreditLimit = AvailableCreditLimit + @RefundAmount,
                        CreditExposure = CreditExposure - @RefundAmount
                    WHERE 
                        CustomerCode = @CustomerCode AND
                        SalesOrganisation = @SalesOrganisation
                END
            END

            -- Update new total price in TB_Create_Dealer_Order
            UPDATE [dbo].[TB_Create_Dealer_Order]
            SET 
                Total_Price = @NewQtyRateAmount,
                UpdatedAt = GETDATE()
            WHERE 
                CompanyCode = @CompanyCode AND 
                CartId = @CartId 
            -- Return updated amount
            SET @TotalPrice = @NewQtyRateAmount;
        END

        -- Final result response
        IF @@ROWCOUNT = 0
        BEGIN
            SELECT -1 AS ResultCode;
        END
        ELSE
        BEGIN
            SELECT 0 AS ResultCode, @TotalPrice AS UpdatedTotalPrice;
        END
    END TRY
    BEGIN CATCH
        -- Error handling
        DECLARE @ErrMessage NVARCHAR(MAX) = ERROR_MESSAGE();
        DECLARE @ErrProcedure NVARCHAR(128) = ERROR_PROCEDURE();
        DECLARE @ErrLine NVARCHAR(10) = CAST(ERROR_LINE() AS NVARCHAR);
        DECLARE @ControllerName NVARCHAR(128) = 'Update_CartItems_Qty_Rate_Into_Amount';
        DECLARE @MethodName NVARCHAR(256) = @ErrProcedure + ' (Line: ' + @ErrLine + ')';
        DECLARE @LogTable NVARCHAR(128) = 'ErrorLog_Update_CartItems_Qty_Rate_Into_Amount';
        DECLARE @DynamicSQL NVARCHAR(MAX);

        SET @DynamicSQL = N'
            INSERT INTO [dbo].[' + @LogTable + N'] 
            (ControllerName, MethodName, ErrorMessage, CreatedAt)
            VALUES (@ControllerName, @MethodName, @ErrorMessage, GETDATE());';

        EXEC sp_executesql 
            @DynamicSQL,
            N'@ControllerName NVARCHAR(128), @MethodName NVARCHAR(256), @ErrorMessage NVARCHAR(MAX)',
            @ControllerName = @ControllerName,
            @MethodName = @MethodName,
            @ErrorMessage = @ErrMessage;

        SELECT -99 AS ResultCode, @ErrMessage AS ErrorMessage;
    END CATCH
END;
GO
